/* styles for staff_front_page_news node comments */
.node-front-page-news .comment-add a:before {
    font-family: FontAwesome;
    content: "\f055";
    display: inline-block;
    margin-right: 2px;
}
.node-front-page-news .comment-add.active a:before {
    content: "\f040";
}
.comment-text {
  border-left: 4px solid #e3e3e3;
  margin-bottom: 1.5em;
  padding: 8px 0 0 8px;
}
.comment-submitted {
  color: #777;
  float: left;
  font-style: italic;
  font-size: 94%;
  margin-right: 2em;
}
.node-front-page-news .comment-delete a:before {
  font-family: FontAwesome;
  content: "\f00d";
  display: inline-block;
  margin-right: 2px;
  text-decoration: none;
}
.node-front-page-news .comment-edit a:before {
  font-family: FontAwesome;
  content: "\f044";
  display: inline-block;
  margin-right: 2px;
  text-decoration: none;
}
.node-front-page-news .comment-reply a:before {
  font-family: FontAwesome;
  content: "\f112";
  display: inline-block;
  margin-right: 2px;
  text-decoration: none;
}

